*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter' , sans-serif;
}

.films{
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 40px;
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.text3{
    font-size: 24px;
    color: #000000;
}

.text4{
    font-size: 14px;
    color: #000000;
    gap: 5px;
}

nav{
    width: 1360px;
    height: 60px;
    margin: 0 auto;
}

input{
    width: 320px;
    height: 44px;
    background-color: #F2F0F3;
    padding: 13px 0 13px 46px;
        border-radius: 8px; 
        border: none;
}

.text2{
    display: flex;
    justify-content: space-between;
    align-items: center ;
    width: 1360px;
    height: 79px;
    padding: 50px 0 0 0;
}

.spisok ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 943px;
    height: 10px;
    margin: 0 auto;
}

.spisok ul li{
    font-size: 14px;
    color: #FFFFFF;
}

.spisok{
    width: 1360px;
    height: 30px;
    padding: 10px 209px 10px 208px;
    background-color: #FF7A00;
    margin-bottom: 5px;
}

.text2 p{
    display: flex;
    align-items: center;
}

.imges{
        position: relative;
}

.imges a img{
    position: absolute;
    left: 12px;
    top: 10px;
}

nav ul li{
    list-style: none;
}

section{
    width: 1440px;
    height: 1064px;
    margin: 0 auto;
    background-color: rgb(252, 245, 245);
    padding: 20px 40px 10px 40px;
}

.films{
    width: 1360px;
    height: 850px;
    margin: 0 auto;
    overflow: scroll;
    padding: 20px 0 20px 0;
    margin-top: 5px;
}

.films::-webkit-scrollbar{
    display: none;
}

.text{
    width: 310px;
    height: 400px;
    gap: 10px;
}

.text div img{
    width: 310px;
    height: 323px;
}

.films__text{
    width: 310px;
    height: 67px;
    padding: 15px 57px 15px 0;
}

.films__text2{
    font-size: 14px;
    color: #00000080;
}

.films__text1{
    font-size: 16px;
    color:#000000;
    font-weight: 700;
}

.films__text{
    display: flex;
    justify-content: space-between;
}

.big_haver{
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgb(255, 255, 255, 0.32);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    display: none;
}

.text6{
    width: 760px;
    height: 639px;
    background-color: #F2F0F3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.close-modal{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #FFFFFF;
    border: 2px black solid;
}

.text6 img{
    width: 760px;
    height: 572px;
    object-fit: cover;  
    margin-bottom: 41px;
}

.span-clos{
    position: absolute;
    top: 0;
    right: 0;
    padding-bottom: 20px;
}

.text6 div{
    position: relative;
}

.text222{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text222 h3{
    padding-bottom: 35px;
}

.text222 p{
    padding-bottom: 35px;
}

